  html{
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        overflow: scroll;
  }

  body{
      height: 100vh;
  }

  #ProfilePic{
      width: 10vw;
      
  }



  .ContactorIMG{
    display: none;
  }



  * {
  	margin: 0;
  }

  canvas {

  	width: 80%;
  	height: 95%;
  	position: absolute;
  	top: 2.5%;
    left: 10%;
  	background: #262626;
  	z-index: -1;
    border: 2px solid #FF5900;
  }

