  html{
        font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
        overflow: scroll;
  }

  body{
      height: 100vh;
  }

  #ProfilePic{
      width: 10vw;
      
  }



  .ContactorIMG{
    display: none;
  }


  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


  * {
  	margin: 0;
  }

  canvas {

  	width: 80%;
  	height: 95%;
  	position: absolute;
  	top: 2.5%;
    left: 10%;
  	background: #262626;
  	z-index: -1;
    border: 2px solid #FF5900;
  }

